/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200&display=swap');

/* Reset default padding and margin */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* Containers */
.container {
  max-width: 70vw;
  margin: 0 auto;
}
.container-fluid {
  max-width: 100vw;
  margin: 0 auto;
}
/* Background Color */
.bg-bright {
  background-color: #fffffe;
}
.bg-dark {
  background-color: #0f0e17;
}
/* Buttons */
.btn-primary {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 1.3rem;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  font: inherit;
  font-weight: 600;
  border-radius: 6px;
  transition: all 0.3s;
}
.btn-primary:hover {
  color: #333;
  background-color: #fff;
  border: 2px solid #333;
  transition: all 0.3s;
}
.btn-secondary {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 1.3rem;
  background-color: #333;
  color: #fff;
  border: 2px solid #333;
  font: inherit;
  font-weight: 600;
  border-radius: 6px;
  transition: all 0.3s;
}
.btn-secondary:hover {
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
  transition: all 0.3s;
}
/* Text */
.txt-center {
  text-align: center;
}
/* Section title */
.section-title {
  font-size: 2.5rem;
  padding: 3rem 0 1rem;
}
.section-txt {
  font-size: 1.2rem;
  color: #707070;
  padding: 1rem;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 1.5rem;
}
